:root {
    --ai: #F4BBC3;
    --black: #606060;
    --love: #40FFFF;
    --pii: #FFFF40;
    --bro: #FF4040;
}

body {
    background: black;
    color: white;
    font-family: 'Roboto', 'Arial', sans-serif;
}

h1 {
    font-size: 24px;
    text-align: center;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 16px;
}
p, ul {
    font-size: 14px;
}
h1, h2, h3, p, ul {
    margin: 8px 0;
}
a {
    color: var(--ai);
}
a:visited {
    color: gray;
}

.flexbox {
    display: flex;
}

#info {
    flex: auto;
}

#info .flexbox {
    max-width: 1000px;
}

.role {
    flex: 1;
    padding: 4px;
    border: 4px solid #606060;
    border-radius: 4px;
    margin: 4px;
}

.legend {
    font-size: 12px;
    text-align: center;
    flex: 1;
}

.legend img {
    width: 24px;
}

#filter {
    flex: none;
}

#filter input {
    display: none;
}

#filai + label {--shadow: var(--ai);}
#filblack + label {--shadow: #C0C0C0;}
#fillove + label {--shadow: var(--love);}
#filpii + label {--shadow: var(--pii);}
#filbro + label {--shadow: var(--bro);}

#filter img {
    -webkit-filter: contrast(0);
    filter: contrast(0);
    box-shadow: inset 0 0 4px white;
    width: 40px;
    display: block;
    padding: 8px;
    border-radius: 8px;
    margin: 4px auto;
    cursor: pointer;
}
#filter input:checked + label img {
    -webkit-filter: none;
    filter: none;
    box-shadow: inset 0 0 4px 4px var(--shadow);
}

#version {
    color: gray;
    font-size: 12px;
}

#github {
    position: absolute;
    left: 4px;
    top: 4px;
}

#github img {
    width: 32px;
}

#options {
    font-size: 24px;
    display: flex;
}

#options input {
    display: none;
}

#options label {
    text-align: center;
    flex: 1;
    padding-top: 4px;
    border-radius: 4px 4px 0 0;
    margin-top: auto;
    cursor: pointer;
}
#options input#optchannel + label {
    color: var(--ai);
}
#options input#optgames + label {
    color: var(--love);
}
#options input#optchina + label {
    color: var(--bro);
}
#options input#optchannel:checked + label {
    background: var(--ai);
    color: black;
}
#options input#optgames:checked + label {
    background: var(--love);
    color: black;
}
#options input#optchina:checked + label {
    background: var(--bro);
    color: black;
}

.units {
    display: flex; /* grid fallback */
    flex-wrap: wrap; /* grid fallback */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    border: 4px solid;
}
#aichannel {
    color: var(--ai);
    border-color: var(--ai);
}
#aigames {
    color: var(--love);
    border-color: var(--love);
}
#aichina {
    color: var(--bro);
    border-color: var(--bro);
}

.units:after {
    content: '';
    background-color: #cccccc;
    background-image: url('https://i.ytimg.com/');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100px;
    padding: 4px;
    border-radius: 4px;
    margin: 4px;
    animation: oscillate 1s linear infinite alternate;
}
.units.complete:after {
    display: none;
}

@keyframes oscillate {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.unit {
    text-decoration: none;
    flex: 1 200px; /* grid fallback */
    margin: 4px;
}

.sentiment {
    color: black;
    font-size: 12px;
    text-align: center;
    position: relative;
    min-height: 12px;
    width: 100%;
    border-radius: 4px 4px 0 0;
}

.thumb {
    position: relative;
    display: block;
    overflow: hidden;
}

.thumb img {
    width: 100%;
    margin: -10% 0;
}

.thumb:after {
    content: attr(data-duration);
    background-color: #00000080;
    color: white;
    font-size: 12px;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 2px 4px;
}

.dye {background: white; color: black;}
.bro .dye {background: var(--bro);}
.pii .dye {background: var(--pii);}
.pii.bro .dye {background: linear-gradient(to right, var(--pii) 25%, var(--bro) 75%);}
.love .dye {background: var(--love);}
.love.bro .dye {background: linear-gradient(to right, var(--love) 25%, var(--bro) 75%);}
.love.pii .dye {background: linear-gradient(to right, var(--love) 25%, var(--pii) 75%);}
.love.pii.bro .dye {background: linear-gradient(to right, var(--love) 16.7%, var(--pii), var(--bro) 83.3%);}
.black .dye {background: var(--black);}
.black.bro .dye {background: linear-gradient(to right, var(--black) 25%, var(--bro) 75%);}
.black.pii .dye {background: linear-gradient(to right, var(--black) 25%, var(--pii) 75%);}
.black.pii.bro .dye {background: linear-gradient(to right, var(--black) 16.7%, var(--pii), var(--bro) 83.3%);}
.black.love .dye {background: linear-gradient(to right, var(--black) 25%, var(--love) 75%);}
.black.love.bro .dye {background: linear-gradient(to right, var(--black) 16.7%, var(--love), var(--bro) 83.3%);}
.black.love.pii .dye {background: linear-gradient(to right, var(--black) 16.7%, var(--love), var(--pii) 83.3%);}
.black.love.pii.bro .dye {background: linear-gradient(to right, var(--black) 12.5%, var(--love), var(--pii), var(--bro) 87.5%);}
.ai .dye {background: var(--ai);}
.ai.bro .dye {background: linear-gradient(to right, var(--ai) 25%, var(--bro) 75%);}
.ai.pii .dye {background: linear-gradient(to right, var(--ai) 25%, var(--pii) 75%);}
.ai.pii.bro .dye {background: linear-gradient(to right, var(--ai) 16.7%, var(--pii), var(--bro) 83.3%);}
.ai.love .dye {background: linear-gradient(to right, var(--ai) 25%, var(--love) 75%);}
.ai.love.bro .dye {background: linear-gradient(to right, var(--ai) 16.7%, var(--love), var(--bro) 83.3%);}
.ai.love.pii .dye {background: linear-gradient(to right, var(--ai) 16.7%, var(--love), var(--pii) 83.3%);}
.ai.love.pii.bro .dye {background: linear-gradient(to right, var(--ai) 12.5%, var(--love), var(--pii), var(--bro) 87.5%);}
.ai.black .dye {background: linear-gradient(to right, var(--ai) 25%, var(--black) 75%);}
.ai.black.bro .dye {background: linear-gradient(to right, var(--ai) 16.7%, var(--black), var(--bro) 83.3%);}
.ai.black.pii .dye {background: linear-gradient(to right, var(--ai) 16.7%, var(--black), var(--pii) 83.3%);}
.ai.black.pii.bro .dye {background: linear-gradient(to right, var(--ai) 12.5%, var(--black), var(--pii), var(--bro) 87.5%);}
.ai.black.love .dye {background: linear-gradient(to right, var(--ai) 16.7%, var(--black), var(--love) 83.3%);}
.ai.black.love.bro .dye {background: linear-gradient(to right, var(--ai) 12.5%, var(--black), var(--love), var(--bro) 87.5%);}
.ai.black.love.pii .dye {background: linear-gradient(to right, var(--ai) 12.5%, var(--black), var(--love), var(--pii) 87.5%);}
.ai.black.love.pii.bro .dye {background: linear-gradient(to right, var(--ai) 10%, var(--black), var(--love), var(--pii), var(--bro) 90%);}

.attendance {
    display: flex;
    padding: 0 2px;
}

.attendance div {
    height: 20px;
    flex: 1;
    border-radius: 4px;
    margin: 2px;
}
.ai .ai,
.black .black,
.love .love,
.pii .pii,
.bro .bro {
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}
.aiish .ai,
.blackish .black,
.loveish .love,
.piiish .pii,
.broish .bro {
    -webkit-filter: brightness(0);
    filter: brightness(0);
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}
.ai .ai, .aiish .ai {background-image: url('icon/ai.png');}
.black .black, .blackish .black {background-image: url('icon/black.png');}
.love .love, .loveish .love {background-image: url('icon/love.png'); background-size: auto 80%;}
.pii .pii, .piiish .pii {background-image: url('icon/pii.png'); background-size: auto 80%;}
.bro .bro, .broish .bro {background-image: url('icon/bro.png');}

.title {
    font-size: 14px;
    line-height: 20px;
    position: relative;
    min-height: 40px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    padding: 0 4px;
    border-radius: 0 0 4px 4px;
}

.viewcount {
    color: gray;
    font-size: 12px;
    position: relative;
    float: left;
}

.date {
    color: gray;
    font-size: 12px;
    position: relative;
    float: right;
}

.hidden {
    display: none;
}
