body {
	background: black;
	color: white;
	font-family: 'Roboto', 'Arial', sans-serif;
	margin: 0;
}

#aichannel, #aigames {
	display: grid;
	grid-template-columns: repeat(10, 10%);
	border: 4px solid;
}
#aichannel {
	color: pink;
	border-color: pink;
}
#aigames {
	color: cyan;
	border-color: cyan;
}

h1 {
	grid-column: 1 / -1;
	text-align: center;
}

.unit {
	text-decoration: none;
	padding: 4px;
}

.sentiment {
	color: black;
	font-size: 12px;
	text-align: center;
	position: relative;
	height: 12px;
	width: 100%;
	border-radius: 4px 4px 0 0;
}

.thumb {
	overflow: hidden;
}

.thumb img {
	width: 100%;
	margin: -10% 0;
}

.title {
	background: pink;
	color: black;
	font-size: 14px;
	line-height: 20px;
	position: relative;
	min-height: 60px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    padding: 0 4px;
	border-radius: 0 0 4px 4px;
}

.viewcount {
	color: gray;
	font-size: 12px;
	position: relative;
	float: left;
}

.date {
	color: gray;
	font-size: 12px;
	position: relative;
	float: right;
}
