body {
	background: black;
	color: white;
	font-family: 'Roboto', 'Arial', sans-serif;
	margin: 0;
}

#aichannel, #aigames {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	border: 4px solid;
}
#aichannel {
	color: pink;
	border-color: pink;
}
#aigames {
	color: cyan;
	border-color: cyan;
}

h1 {
	grid-column: 1 / -1;
	text-align: center;
}

.unit {
	text-decoration: none;
	margin: 4px;
}

.sentiment {
	color: black;
	font-size: 12px;
	text-align: center;
	position: relative;
	height: 12px;
	width: 100%;
	border-radius: 4px 4px 0 0;
}

.thumb {
	position: relative;
	overflow: hidden;
}

.thumb img {
	width: 100%;
	margin: -10% 0;
}

.thumb:after {
	content: attr(data-duration);
	background: #00000080;
	color: white;
	font-size: 12px;
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 2px 4px;
}

.attendance {
	background: linear-gradient(90deg, pink, yellow);
	display: flex;
	padding: 0 2px;
}

.attendance div {
	background-color: black;
	background-position: center;
	background-repeat: no-repeat;
	height: 20px;
	flex: 1;
	border-radius: 4px;
	margin: 2px;
}
.attendance .ai {
	background-image: url('icon/ai.png');
	background-size: auto 100%;
}
.attendance .black {
	background-image: url('icon/black.png');
	background-size: auto 100%;
}
.attendance .love {
	background-image: url('icon/love.png');
	background-size: auto 80%;
}
.attendance .pii {
	background-image: url('icon/pii.png');
	background-size: auto 80%;
}
.attendance .bro {
	background-image: url('icon/bro.png');
	background-size: auto 100%;
}

.title {
	background: linear-gradient(90deg, pink, yellow);
	color: black;
	font-size: 14px;
	line-height: 20px;
	position: relative;
	min-height: 40px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    padding: 0 4px;
	border-radius: 0 0 4px 4px;
}

.viewcount {
	color: gray;
	font-size: 12px;
	position: relative;
	float: left;
}

.date {
	color: gray;
	font-size: 12px;
	position: relative;
	float: right;
}
